/*index.css
  author: alexandra miranda
  github: allie199521
  */
  
*{
	font-family: 'Special Elite', cursive;
}

body {
	z-index: 1;
	background-color: rgba(78, 109, 156, .50);
	background-image: url("../images/diagmonds-light.png");
	background-repeat: repeat;
	background-size: 75px 75px;
	margin: 0 auto;
}

ul {
	list-style-type:none;
	border: 10px solid black;
	margin-right: 2%;
	margin-top: none;
    padding-top: 20px;
	padding-bottom:20px;
	background-color: black;
}

li {
	display: inline;
	padding-right: 10px;
}

li a {
	text-decoration:none;
	font-weight: bold;
	color: rgba(128, 128, 128, 1);
}

.about {
	background-image: url("images/test.png");
	text-align: center;
	vertical-align: center;
	padding-top: 25%;
	margin-bottom: 25%;
	z-index: 2;
}

#test {
	text-align: center;
	margin: 25%;
}

.container {
    position: relative;
}

.topleft {
    position: fixed;
    top: 16px;
    left: 16px;
	z-index: 4;
}

.topright {
    position: fixed;
	text-align: right;
    top: 8px;
    right: 8px;
    font-size: 18px;
	width: 90%;
	z-index: 3;
}