/*index.css
  author: alexandra miranda
  github: allie199521
  */
  
*{
	font-family: 'Special Elite', cursive;
}

body {
	z-index: 1;
	background-color: #cbedde;
	background-image: url("../images/diagmonds-light.png");
	background-repeat: repeat;
	background-size: 75px 75px;
	margin: 0 auto;
}