/*index.css
  author: alexandra miranda
  github: allie199521
  */

body {
	z-index: 1;
	background-color: #cbedde;	/*this is the color of the background of my site*/
	/*background-image: url("../images/background.png");*/
	background-repeat: repeat;
	background-size: 75px 75px;
	margin: 0 auto;
	font-family: 'Special Elite', cursive;
}