*{
	font-family: 'Special Elite', cursive;
}

body {
	background-color: rgba(128, 128, 128, .6);
}

div#centeredElement{
	background-color: gray;
	text-align:left;
	margin: 0 auto;
	font-size: 50px;
	width: 85%;
    border: 2px solid white;
	padding-top: 8%;
	padding-right: 5%;
	padding-left: 2.5%;
	padding-bottom: .5%;
	margin-top:5%;
}