*{
	font-family: 'Special Elite', cursive;
	margin: 0 auto;
	max-width: 50em;
}

body {
	background-color: rgba(60, 148, 255, .8);
	margin: 0 auto;
	max-width: 50em;
}

div#centeredElement{
	text-align:center;
}