.footer { 
	font-family: 'Bellefair', serif !important;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: none;
	padding-left: 2%;
	background-color: #94a89b;
	font-size: 18px;
	text-align: left;
	color: white;
}

a {
	color: #03662c;
}
