ul {
	list-style-type:none;
	margin-right: 2%;
	margin-top: none;
    padding-top: 20px;
	padding-bottom:20px;
	background-color: black;
}

li {
	display: inline;
	padding-right: 10px;
}

li a {
	text-decoration:none;
	font-weight: bold;
	color: rgba(128, 128, 128, 1);
}

.container {
    position: relative;
}

.topleft {
    position: fixed;
    top: 1%;
    left: 1%;
	z-index: 4;
}

.topright {
    position: fixed;
	margin-top: 1%;
	text-align: right;
    right: 1%;
	width: 90%;
	z-index: 3;
}

a {
	text-decoration:none;
	color:black;
	font-weight: bold;
}