/*   blog.css
	 author: alexandra miranda
	 github: allie199521
	 */

* {
	 
}
.footer { 
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 2px;
	background-color: #efefef;
	text-align: center;
}

ul {
	list-style-type:none;
	margin: 10px;
    padding: 10px;
}

li {
	display: inline;
	padding-right: 10px;
}

li a {
	text-decoration:none;
	font-weight: bold;
	color: black;
}